/* style hp */
body{
    background-color: brown;
}
/* style tablet */
@media screen and (min-width: 600px) {
    body{
        background-color: blue;
    }
     .col-md-6{
     width: 50%;
     background-color: rgb(49, 0, 95);
     float: left;
    }
     .col-md-60{
     width: 100%;
     background-color: rgb(49, 0, 95);
     float: left;
    }
}
/* style dekstop */
@media screen and (min-width: 992px) {
    body{
        background-color: aqua;
    }
     .col-lg-3{
     width: 25%;
     background-color: blueviolet;
     float: left;
    }
     .col-lg-33{
     width: 33.33%;
     background-color: rgb(171, 226, 43);
     float: left;
    }
    
}

img{
    width:100%;
}